*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    margin: 20px 0px;
    width: 40px;
    height: 40px;
    background-color: #0044AA;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

div.burger-menu i:hover{
    cursor: pointer;
    background-color: #0022AA;
}



p{
    font-size: 12px;
}

h3{
    font-size: 24px;
}

header{
    background-color: #EAC926;
}

header img,
header form{
    width: 50%;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 20px;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

.discount{
    width: 70%;
}

.description{
    margin-top: 20px;
}

h3,
.description{
    color: #666;
}

section.banner img{
    width: 100%;
    display: block;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section h3{
    margin: 20px 0px;
}

main section article{
    background-color: #fff;
    margin: 10px 0px;
}

main section article img{
    display: block;
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

footer{
    background-color: #fff;
    color: #666;
    padding: 20px 5%;
}

footer article{
    margin: 20px 0px;
}

footer i{
    color: #1259c3;
}

/* propio de los formularios */

.login input,
.register input{
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px;
}

.login input[type='submit'],
.register input[type='submit']{
    color: #FFF;
    background-color: #0044AA;  
    border-radius: 5px;
}

.login input[type='submit']:hover,
.register input[type='submit']:hover{
    background-color: #0022AA;
}

.register input[type='reset']{
    color: #FFF;
    background-color: #AA0044;
}

.register input[type='reset']:hover{
    background-color: #CC1155;
}

div.profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.profile input,
div.profile label{
    width: auto;
    width: auto;
}

div.interests{
    display: flex;
    flex-wrap: wrap;
}

div.interests div{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

div.interests div input,
div.interests div label{
    width: auto;
}

div.interests div input{
    margin: 20px;
}
